$imgPath: './static/img/';

@import "./components/atom.breakpoints";
@import "./components/atom.color";
@import "./components/atom.grid";
@import "./components/atom.font";
@import "./components/atom.transition";
@import "./components/atom.button";
@import "./components/atom.icon";
@import "./components/_svg-uri";


/* Generic */
html {
	@include pgs-font-base;
	font-family: 'proxima-nova', sans-serif;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding: 0;

	&.pi-intro {
		overflow: hidden;
	}

	&.pi-menu {
		overflow: hidden;
	}
}

::-moz-selection {
	background: rgba(0,255,53,.4);
}

::selection {
	background: rgba(0,255,53,.4);
}

.slick-slide:focus,
.pi-card:focus {
	outline: none;
}

.slick-prev,
.slick-next {
	position: absolute;
	top: -2.2rem;
	width: 1rem;
	height: 1rem;
	text-indent: -9rem;
	white-space: nowrap;
	overflow: hidden;
	padding: 0;
	border: 0;
	background: none;
	@include pgs-transition(.3s);
	opacity: .7;
	color: $White;

	&:focus {
		outline: none;
	}

	&:before {
		content: '';
		display: block;
		width: .9rem;
		height: .9rem;
		@include pgs-slick-arrow;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}

	&.slick-disabled {
		opacity: 0;
	}
}

.slick-prev {
	left: .5rem;
	transform: rotate(-180deg);

	@media #{$MobileH} {
		left: 1rem;
	}
}

.slick-next {
	right: .5rem;
}

.pi-logo {
	display: inline-block;
	width: 4.72rem;
	height: 4.72rem;
	@include pgs-parati-logo-outline;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	text-indent: -10000px;
}

.pi-logo-porto,
.pi-logo-santander,
.pi-logo-scielo,
.pi-logo-b3 {
	display: inline-block;
	width: 7.77rem;
	height: 2.5rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.pi-logo-porto {
	@include pgs-logo-porto;
}

.pi-logo-santander {
	@include pgs-logo-santander;
}

.pi-logo-b3 {
	@include pgs-logo-b3;
}

.pi-logo-scielo {
	background-image: url(#{$imgPath}logo-scielo.png);
	width: 5rem;
	height: 5rem;
}

.pi-section {
	$color: rgba(40,54,59,.6);

	margin: 0 0 3rem;
	font-weight: bold;
	position: relative;
	@include pgs-font-level11;
	color: $color;
	line-height: 1rem;

	&:after {
		content: '';
		position: absolute;
		top: .5rem;
		right: 100%;
		margin-right: .5rem;
		transform: translateY(-50%);
		height: 5px;
		width: 1.33rem;
		background: $color;
		border-radius: 99px;
		display: inline-block;
		vertical-align: middle;
	}

	@media #{$minTablet} {
		@include pgs-font-level10;
	}
}

/* Header */
.pi-header {
	position: relative;
	height: 100vh;
	line-height: 100vh;
	overflow: hidden;
	z-index: 2;

	@media #{$minMobileH} {
		height: 130vh;
	}

	h1 {
		position: absolute;
		top: 1rem;
		left: 1rem;
		margin: 0;
		padding: 0;
		font-weight: 300;
		@include pgs-font-level12;
		color: rgba(255,255,255,.6);
		line-height: 1.3em;
		opacity: 0;
		@include pgs-transition;

		&.pi-visible {
			opacity: 1;
		}

		strong {
			color: $White;
		}

		.ti-cursor {
			color: $Green !important;
			font-size: 2em !important;
			font-weight: bold;
			display: inline-block !important;
			vertical-align: middle;
		}

		&.pi-ti-hideCursor .ti-cursor {
			display: none !important;
		}

		@media #{$minTablet} {
			@include pgs-font-level10;
			line-height: 1.1em;
		}
	}
}

.pi-header-ctt {
	padding: 2rem 0;
	color: $White;
	position: relative;
	box-sizing: border-box;
	line-height: 1.4em;
	display: inline-block;
	vertical-align: middle;
	width: 100%;

	.pi-logo {
		@include pgs-transition(.5s);
		transform: scale(.75);
		opacity: 0;


		@media #{$MobileH} {
			width: 4.16rem;
			height: 4.16rem;
		}

		@media #{$TabletV} {
			width: 5.22rem;
			height: 5.22rem;
		}

		@media #{$TabletH} {
			width: 6.77rem;
			height: 6.77rem;
		}

		@media #{$Desktop} {
			width: 8.16rem;
			height: 8.16rem;
		}
	}

	h2 {
		margin: 0;
		padding: 0;
		line-height: 1.2em;
		@include pgs-font-level7;

		@include pgs-transition(.5s);
		opacity: 0;
		transition-delay: .25s;

		@media #{$MobileH} {
			@include pgs-font-level9;
		}

		@media #{$TabletV} {
			@include pgs-font-level4;
			line-height: 1em;
		}

		@media #{$minTabletH} {
			font-size: 4.5rem;
			line-height: .9em;
		}

		@media #{$Desktop} {
			font-size: 5rem;
		}
	}

	.pi-btn {
		@include pgs-button-base;
		@include pgs-button-default($Green,$White);
		font-weight: bold;

		@include pgs-transition(.5s);
		opacity: 0;
		transform: scale(.5);
		transition-delay: .75s;

		display: none;

		@media #{$minTablet} {
			display: inline-block;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}

		@media #{$minTabletH} {
			@include pgs-button-effects(rgba(255,255,255,.09));
		}
	}

	&.pi-activated {
		.pi-logo,
		h2,
		.pi-btn {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.pi-header-logo-block {
	@include pgs-column-base;
	@include pgs-column-builder(2,$mobileV_gridColumns,0);
	@include pgs-column-offset(1,$mobileV_gridColumns);

	@media #{$MobileV} {
		margin-bottom: 2rem;
	}

	@media #{$MobileH} {
		@include pgs-column-builder(2,$mobileH_gridColumns,$mobileH_gutter);
		@include pgs-column-offset(2,$mobileH_gridColumns);
	}

	@media #{$minTablet} {
		@include pgs-column-builder(2,$tabletV_gridColumns,$tabletV_gutter);
		@include pgs-column-offset(3,$tabletV_gridColumns);
	}

	@media #{$TabletV} {
		margin-bottom: 2rem;
	}

	@media #{$minTabletH} {
		text-align: center;
		@include pgs-column-offset(2,$tabletH_gridColumns);
	}
}

.pi-header-title-block {
	@include pgs-column-base;
	@include pgs-column-builder(4,$mobileV_gridColumns,0);

	@media #{$MobileV} {
		@include pgs-column-offset(1,$mobileV_gridColumns);
	}

	@media #{$MobileH} {
		@include pgs-column-builder(6,$mobileH_gridColumns,$mobileH_gutter);
		margin-top: .75rem;
	}

	@media #{$TabletV} {
		@include pgs-column-builder(7,$tabletV_gridColumns,$tabletV_gutter);
		@include pgs-column-offset(3,$tabletV_gridColumns);
		margin-top: .75rem;
	}

	@media #{$minTabletH} {
		@include pgs-column-builder(7,$tabletH_gridColumns,$tabletH_gutter);
		@include pgs-column-offset(1,$tabletH_gridColumns);
	}
}

.pi-header-btn-block {
	display: none;

	@media #{$minTablet} {
		display: block;
		@include pgs-column-base;
		@include pgs-column-builder(7,$tabletV_gridColumns,$tabletV_gutter);
		@include pgs-column-offset(3,$tabletV_gridColumns);
		clear: both;
		margin-top: 3rem;
	}

	@media #{$minTabletH} {
		@include pgs-column-builder(6,$tabletH_gridColumns,$tabletH_gutter);
		text-align: center;
		margin-top: 6rem;
	}
}

.pi-video-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	z-index: -1;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $Gray;
		opacity: .8;
		@include pgs-transition(.5s);
	}

	@media #{$onlyMobile} {
		background: url(#{$imgPath}poster.jpg) center center no-repeat;
		background-size: 100% auto;

		&:after {
			opacity: .9;
		}
	}

	video {
		height: 100%;
	}
}

body.pi-intro .pi-video-bg:after {
	opacity: .5;
}

/* Como trabalhamos */
.pi-what-we-do {
	background: $Green;
	color: $White;
	@include pgs-transition(.5s);
	transition-delay: .5s;
	opacity: 0;
	transform: scale(.8);
	position: relative;
	z-index: 3;

	&.pi-activated {
		opacity: 1;
		transform: scale(1);
	}

	@media #{$MobileV} {
		margin-top: -5rem;
		margin-left: .5rem;
		padding: 2rem .5rem 1rem 2.5rem;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	@media #{$MobileH} {
		margin-top: -6rem;
		@include pgs-column-offset(1,$mobileH_gridColumns);
		padding: 2rem 2rem 1rem 2rem;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	@media #{$minTablet} {
		@include pgs-column-base;
		@include pgs-column-builder(10,$tabletV_gridColumns,$tabletV_gutter);
		@include pgs-column-offset(1,$tabletV_gridColumns);
		padding: 2rem 4rem;
		margin-top: -35vh;
		border-radius: 3px;
		box-shadow: 1rem 1rem 50px rgba(40,54,59,.2);
	}

	@media #{$TabletH} {
		@include pgs-column-builder(12,$tabletH_gridColumns,$tabletH_gutter);
		padding: 3rem 5rem;
		margin: -40vh 0 0;
		border-radius: 0;
	}

	@media #{$Desktop} {
		margin-top: -40vh;
	}

	.pi-section {
		display: none;

		@media #{$minTablet} {
			display: block;
			margin-bottom: 2rem;
			color: rgba(255,255,255,.5);

			&:after {
				background: rgba(255,255,255,.5);
			}
		}
	}

	h3 {
		margin: 0 0 1rem;
		@include pgs-font-level8;

		@media #{$MobileH} {
			@include pgs-font-level6;
		}

		@media #{$minTablet} {
			@include pgs-font-level5;
		}

		@media #{$minTabletH} {
			@include pgs-column-base;
			@include pgs-column-builder(6,$tabletH_gridColumns,$tabletH_gutter);
			text-align: right;
			line-height: 1.05em;
		}
	}

	.pi-ctt {
		font-family: 'source-serif-pro', serif;
		font-weight: 300;
		color: rgba(255,255,255,.8);
		@include pgs-font-level11;

		@media #{$minTabletH} {
			@include pgs-column-base;
			@include pgs-column-builder(6,$tabletH_gridColumns,$tabletH_gutter);
			line-height: 1.6em;
			margin-top: .5rem;
		}

		p {
			margin: 0 0 1rem;
		}

		@media #{$minTablet} {
			@include pgs-font-level10;
		}
	}
}

@keyframes circle-desktop {
	0% {
		transform: 	rotate(0deg)
					translate(13.5rem)
					rotate(90deg);
	}

	100% {
		transform: 	rotate(360deg)
					translate(13.5rem)
					rotate(90deg);
	}
}

@keyframes circle-mobile {
	0% {
		transform: 	rotate(0deg)
					translate(12rem)
					rotate(90deg);
	}

	100% {
		transform: 	rotate(360deg)
					translate(12rem)
					rotate(90deg);
	}
}

.pi-how-we-work,
.pi-clients,
.pi-team,
.pi-footer {
	margin-top: 2rem;
	clear: both;
	position: relative;
	overflow: hidden;

	@media #{$MobileV} {
		margin-left: .5rem;
		padding: 2rem .5rem 1rem 2.5rem;
	}

	@media #{$MobileH} {
		@include pgs-column-offset(1,$mobileH_gridColumns);
		padding: 2rem 2rem 1rem 2rem;
	}

	@media #{$minTablet} {
		@include pgs-column-base;
		@include pgs-column-builder(10,$tabletV_gridColumns,$tabletV_gutter);
		@include pgs-column-offset(1,$tabletV_gridColumns);
		margin-top: 5rem;
	}

	@media #{$minTabletH} {
		@include pgs-column-builder(12,$tabletH_gridColumns,$tabletH_gutter);
		padding: 3rem 5rem 0;
		margin: 3rem 0 0;
	}

	h2.pi-section {
		@media #{$TabletV} {
			@include pgs-column-offset(1,$tabletV_gridColumns);
			transform: translateX(-3px);
		}
		@media #{$Desktop} {
			@include pgs-column-offset(1,$desktop_gridColumns);
		}
	}
}

.pi-how-we-work {
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		border-radius: 999rem;
		background: #EEF4EF;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		@include pgs-ico-arrow;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		z-index: 1;
	}

	@media #{$MobileV} {
		&:after {
			left: 30%;
			top: 4rem;
			width: 24rem;
			height: 24rem;
		}

		&:before {
			width: 2rem;
			height: 2rem;
			top: 15rem;
			left: 100%;
			margin-left: -1rem;
			animation: circle-mobile 10s linear infinite;
		}
	}

	@media #{$MobileH} {
		&:after {
			left: 30%;
			top: 4rem;
			width: 24rem;
			height: 24rem;
		}

		&:before {
			width: 2rem;
			height: 2rem;
			top: 15rem;
			left: 72%;
			margin-left: -1rem;
			animation: circle-mobile 10s linear infinite;
		}
	}

	@media #{$minTablet} {
		&:after {
			left: 50%;
			top: 5rem;
			width: 27rem;
			height: 27rem;
			transform: translateX(-50%);
		}

		&:before {
			width: 2.5rem;
			height: 2.5rem;
			top: 17.5rem;
			left: 50%;
			margin-left: -1.25rem;
			animation: circle-desktop 15s linear infinite;
		}
	}

	@media #{$minTabletH} {
		padding-bottom: 2.5rem;

		&:after {
			left: 50%;
			top: 5rem;
			width: 27rem;
			height: 27rem;
			transform: translateX(-50%);
		}

		&:before {
			width: 2.5rem;
			height: 2.5rem;
			top: 17.5rem;
			left: 50%;
			margin-left: -1.25rem;
			animation: circle-desktop 15s linear infinite;
		}
	}

	h3 {
		position: relative;
		z-index: 2;
		margin: 0 0 1rem;
		@include pgs-font-level5;
		line-height: 1.05em;
		color: $Gray;

		span {
			display: none;
		}

		@media #{$MobileH} {
			@include pgs-font-level3;
		}

		@media #{$minTablet} {
			@include pgs-column-base;
			@include pgs-column-builder(6,$tabletV_gridColumns,$tabletV_gutter);
			text-align: right;
			line-height: 1.05em;
			@include pgs-font-level3;
			margin-top: 2rem;
		}

		@media #{$minTabletH} {
			@include pgs-column-builder(6,$tabletH_gridColumns,$tabletH_gutter);
			@include pgs-font-level1;
			line-height: 5rem;
			margin-top: 5rem;
			margin-bottom: 9rem;
		}
	}

	.pi-ctt {
		position: relative;
		z-index: 2;
		font-family: 'source-serif-pro', serif;
		font-weight: 300;
		color: rgba(40,54,59,.8);
		@include pgs-font-level11;

		p {
			margin: 0 0 1rem;
		}

		@media #{$minTablet} {
			@include pgs-column-base;
			@include pgs-column-builder(6,$tabletV_gridColumns,$tabletV_gutter);
			line-height: 1.6em;
			margin-top: 12rem;
			margin-bottom: 2rem;
		}

		@media #{$minTabletH} {
			@include pgs-font-level10;
			@include pgs-column-builder(6,$tabletH_gridColumns,$tabletH_gutter);
			margin-top: 6rem;
			margin-bottom: 0;
		}
	}

	h4 {
		&:before {
			content: '';
			position: relative;
			clear: both;
			width: 100%;
			display: block;
			height: 1px;
		}

		clear: both;

		@media #{$onlyMobile} {
			color: rgba(40,54,59,.8);
			margin-bottom: 0;

			span {
				display: block;
			}
		}

		@media #{$MobileV} {
			@include pgs-font-level9;
		}

		@media #{$MobileH} {
			@include pgs-font-level7;
		}

		@media #{$minTablet} {
			text-align: center;
			color: $Gray;
		}
	}

	.pi-cards {
		&:before {
			content: '';
			position: relative;
			clear: both;
			width: 100%;
			display: block;
			height: 1px;
		}

		margin-top: 2rem;

		@media #{$onlyMobile} {
			margin-left: -3rem;
			margin-top: 1rem;
			position: relative;

			.slick-list {
				padding: 0 1rem 0 1rem !important;
			}
		}

		@media #{$TabletV} {
			margin-left: -5rem;
			margin-right: -5rem;
			position: relative;
			padding: 2rem 0 0;

			&:before {
				content: '';
				position: absolute;
				z-index: 99;
				top: 0;
				bottom: 0;
				height: auto;
				left: 0;
				width: 7rem;
				background-image: linear-gradient(90deg, #fff 0%, #fff 40%, transparent 100%);
			}

			&:after {
				content: '';
				position: absolute;
				z-index: 2;
				top: 0;
				bottom: 0;
				right: 0;
				width: 7rem;
				background-image: linear-gradient(-90deg, #fff 0%, #fff 40%, transparent 100%);
			}

			.slick-prev,
			.slick-next {
				top: -3.1rem;
			}

			.slick-prev {
				left: 10rem;
			}

			.slick-next {
				right: 10rem;
			}
		}
	}

	.pi-card {
		transition: .3s ease-in;

		& > div {
			box-sizing: border-box;
			border: 2px solid $White;
			padding: 1rem;
			color: $White;
			position: relative;
			z-index: 2;
		}

		h5 {
			margin: 0 0 1rem 0;
			color: $Green;
			text-transform: uppercase;
			line-height: 1.05em;
		}

		p {
			margin: 0;
		}

		@media #{$onlyMobile} {
			float: left;
			padding: 1rem;
			background: $Green;
			opacity: .2;
			margin-right: 1rem;

			& > div {
				transform: scale(.9);
				opacity: 0;
				transition: .3s ease-in;
				transition-delay: .2s;
			}

			h5 {
				@include pgs-font-level8;
				color: $White;
			}

			p {
				@include pgs-font-level11;
			}

			&.slick-current {
				opacity: 1;

				& > div {
					transform: scale(1);
					opacity: 1;
				}
			}
		}

		@media #{$TabletV} {
			float: left;
			margin: 0 1.5rem 1rem;
			opacity: .2;
			margin-bottom: 3rem;

			h5 {
				@include pgs-font-level7;
			}

			& > div {
				padding: 2.5rem;
				border: 4px solid $Green;
				color: $Gray;
				min-height: 18rem;
			}

			p {
				transition: .2s ease-in;
				color: $Gray;
				opacity: 1;
				transform: scale(1);
			}

			&.slick-current {
				opacity: 1;
				transform: scale(1.1);
				box-shadow: 1rem 1rem 30px rgba(0,0,0,.2);
			}
		}

		@media #{$minTabletH} {
			@include pgs-column-base;
			@include pgs-column-builder(6,$tabletV_gridColumns,$tabletV_gutter);
			padding-top: $tabletV_gutter;
			padding-bottom: $tabletV_gutter;
			position: relative;
			z-index: 1;
			overflow: hidden;

			.hover-in {
				transition: .3s ease-out;
			}

			.hover-out {
				transition: .3s ease-in;
			}

			h5 {
				@include pgs-font-level7;
			}

			& > div {
				padding: 2.5rem;
				border: 4px solid $Green;
				color: $Gray;
				min-height: 23rem;
			}

			p {
				transition: .2s ease-in;
				color: $Gray;
				opacity: 1;
				transform: scale(1);
			}

		}

		@media #{$Desktop} {
			& > div {
				padding: 3rem;
				min-height: 24.5rem;
			}

			p {
				color: $White;
				opacity: 1;
				transform: scale(.8);
			}

			&:hover {
				background: $Green;
				box-shadow: 1rem 1rem 50px rgba(40,54,59,.2);

				& > div {
					background: $Green;
					border-color: $White;
					color: $White;
					position: relative;
					box-shadow: 1rem 1rem 50px rgba(40,54,59,.2);

					h5 {
						color: $White;
					}

					p {
						opacity: 1;
						transform: scale(1);
					}
				}
			}

			h5 {
				@include pgs-font-level5;
			}
		}
	}
}

.pi-clients {
	overflow: hidden;

	h2.pi-section {
		margin-bottom: 3.5rem;

		@media #{$onlyMobile} {
			margin-bottom: 2.5rem;
		}
	}

	.pi-cards {
		position: relative;
		margin-top: 2rem;

		&:before {
			content: '';
			position: relative;
			clear: both;
			width: 100%;
			display: block;
			height: 1px;
		}

		@media #{$onlyMobile} {
			margin-left: -3rem;
			margin-top: 1rem;

			.slick-list {
				padding: 0 1rem 0 1rem !important;
			}
		}

		@media #{$TabletV} {
			min-height: 32rem;
		}

		@media #{$minTabletH} {
			min-height: 28rem;
		}

		@media #{$Desktop} {
			min-height: 21rem;
		}
	}

	h3 {
		font-size: 1.9rem;
		margin: 0 0 1rem;

		a {
			position: relative;
			text-decoration: none;
			color: $Gray;

			&:after {
				content: '';
				position: absolute;
				top: 95%;
				right: 0;
				height: 3px;
				width: 0;
				border-radius: 99px;
				background: $Green;
				transition: .4s ease-in;
			}
		}

		@media #{$MobileH} {
			@include pgs-font-level5;
		}

		@media #{$minTablet} {
			@include pgs-column-base;
			@include pgs-column-builder(6,$tabletV_gridColumns,$tabletV_gutter);

			@include pgs-font-level6;
			text-align: right;
		}

		@media #{$minTabletH} {
			@include pgs-font-level4;

			a:after {
				opacity: .2;
			}

			a:hover:after {
				width: 3rem;
			}
		}

		@media #{$Desktop} {
			@include pgs-font-level3;
		}
	}

	.pi-ctt {
		font-family: 'source-serif-pro', serif;
		font-weight: 300;
		color: rgba(40,54,59,.8);
		@include pgs-font-level11;

		em {
			font-style: normal;
			font-weight: bold;
			color: $Green;
		}

		@media #{$minTablet} {
			@include pgs-column-base;
			@include pgs-column-builder(6,$tabletV_gridColumns,$tabletV_gutter);
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;
			height: 1rem;
		}
	}

	.pi-card {
		@media #{$onlyMobile} {
			float: left;
			padding: 0 .5rem 0 2rem;

			h3 {
				opacity: .2;
				transform: translateX(-25%);
				transition: .3s ease-in;
			}

			.pi-ctt {
				transition: .6s ease-in;
				transform: scale(.95) translateY(2%);
				opacity: 0;
			}

			&.slick-current {
				h3 {
					opacity: 1;
					transform: translateX(0);

					a:after {
						width: 1.83rem;
					}
				}

				.pi-ctt {
					transform: scale(1) translateY(0);
					opacity: 1;
				}
			}
		}

		@media #{$minTablet} {
			&:before {
				content: '';
				display: block;
				clear: both;
				width: 100%;
				height: 1px;
			}

			.pi-ctt {
				transition: .6s ease-out;
				transition-delay: .2s;
				transform: translateY(10%);
				opacity: 0;
			}

			&.pi-card-selected {
				h3 a:after {
					width: 3rem;
					opacity: 1 !important;
				}

				.pi-ctt {
					opacity: 1;
					height: auto;
					transform: translateY(0);
					opacity: 1;
					z-index: 2;
					padding-right: 0;
				}
			}
		}
	}

	.pi-btn {
		@include pgs-button-base;
		@include pgs-button-default($White,$Green);
		border: 1px solid $Green;
		font-weight: bold;

		@include pgs-transition(.5s);

		@media #{$minTablet} {
			display: inline-block;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}

		@media #{$minTabletH} {
			@include pgs-button-effects(rgba(88,146,100,.09));
		}
	}

	@media #{$onlyMobile} {
		[class^='pi-logo-'] {
			display: none;
		}

		.slick-prev,
		.slick-next {
			top: -1rem;
		}
	}
}

.pi-team {
	position: relative;
	margin-top: 0;

	@media #{$onlyMobile} {
		padding-bottom: 2rem;
	}

	@media #{$TabletV} {
		@include pgs-column-builder(12,$tabletV_gridColumns,0);
		margin-top: 2rem;
		margin-left: 0;
	}

	.pi-section {
		@media #{$onlyMobile} {
			margin-bottom: 1rem;
		}
		@media #{$minTablet} {
			position: absolute;
			z-index: 4;
			top: 3rem;
			margin: 0;
			color: $White;
			transform: scale(3) !important;
			left: 4rem;

			&:after {
				background: $White;
			}
		}

		@media #{$TabletH} {
			top: 6rem;
			left: 13rem;
		}

		@media #{$Desktop} {
			top: 6rem;
			left: 7rem;
		}
	}

	.pi-team-list {
		border-radius: 3px;
		position: relative;

		@media #{$onlyMobile} {
			.slick-list {
				padding: 0 0 3rem !important;
			}
		}

		@media #{$minTablet} {
			border-radius: 3px;
			overflow: hidden;
			box-shadow: 1rem 1rem 50px rgba(40,54,59,.2);
			overflow: hidden;
			margin-bottom: 3rem;
		}
	}

	.pi-team-member {
		background: #8cba8d center center no-repeat;
		background-size: 100% auto;
		color: $White;

		h3 {
			margin: 0;
			@include pgs-font-level9;
		}

		span {
			font-family: 'source-serif-pro', serif;
			font-weight: 300;
		}

		@media #{$onlyMobile} {
			float: left;
			background-position: top center;
			min-height: 15rem;
			box-sizing: border-box;
			padding: 10rem 3rem 0 1rem;
			position: relative;
			transition: .3s ease-out;
			transform: translateX(-20%);
			box-shadow: -1rem 1rem 30px rgba(40,54,59,.2);
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;

			&.slick-current {
				transform: translateX(0%);
			}

			h3, span {
				position: relative;
				z-index: 2;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 15rem;
				z-index: 1;
				background-image: linear-gradient(0deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 40%, transparent 100%);
			}
		}

		@media #{$MobileH} {
			min-height: 10rem;
			padding: 6rem 3rem 0 1rem;
			background-position: center -8rem;

			&:after {
				height: 10rem;
			}
		}

		@media #{$minTablet} {
			background-size: auto 100%;
			@include pgs-column-base;
			@include pgs-column-builder(2,10,1rem);
			min-height: 25rem;
			box-sizing: border-box;
			padding-top: 12.5rem;
			box-shadow: 0;

			h3 strong {
				display: block;
			}
		}

		@media #{$TabletV} {
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 15rem;
				background-image: linear-gradient(0deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 40%, transparent 100%);
			}
		}

		@media #{$minTabletH} {
			@include pgs-transition;
			position: relative;
			z-index: 3;

			h3, span {
				position: relative;
				z-index: 2;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: center center;
				opacity: 0;
				@include pgs-transition;
				transition-delay: .1s;
				z-index: 1;
			}

			&:hover {
				transform: scale(1.1);
				box-shadow: 1rem 1rem 50px rgba(40,54,59,.3);
				z-index: 4;

				&:before {
					opacity: 1;
				}
			}
		}
	}

	@media #{$onlyMobile} {
		.slick-prev,
		.slick-next {
			top: 1rem;
		}

		.slick-prev {
			left: -2rem;
		}

		.slick-next {
			&:before {
				@include pgs-slick-arrow-white;
			}
		}
	}
}

#pi-team-sp {
	background-image: url(#{$imgPath}team-sergio.jpg);

	@media #{$minTabletH} {
		&:hover:before {
			background-image: url(#{$imgPath}team-sergio-hover.jpg);
		}
	}
}

#pi-team-rc {
	background-image: url(#{$imgPath}team-ramon.jpg);

	@media #{$minTabletH} {
		&:hover:before {
			background-image: url(#{$imgPath}team-ramon-hover.jpg);
		}
	}
}

#pi-team-mf {
	background-image: url(#{$imgPath}team-fernanda.jpg);

	@media #{$minTabletH} {
		&:hover:before {
			background-image: url(#{$imgPath}team-fernanda-hover.jpg);
		}
	}
}

#pi-team-lc {
	background-image: url(#{$imgPath}team-caramez.jpg);

	@media #{$minTabletH} {
		&:hover:before {
			background-image: url(#{$imgPath}team-caramez-hover.jpg);
		}
	}
}

#pi-team-er {
	background-image: url(#{$imgPath}team-robles.jpg);

	@media #{$minTabletH} {
		&:hover:before {
			background-image: url(#{$imgPath}team-robles-hover.jpg);
		}
	}
}

#pi-team-jm {
	background-image: url(#{$imgPath}team-juliano.jpg);

	@media #{$minTabletH} {
		&:hover:before {
			background-image: url(#{$imgPath}team-juliano-hover.jpg);
		}
	}
}

.pi-footer {
	position: relative;
	background: $Gray;
	margin: 5rem 0 0 0;
	box-sizing: border-box;
	width: 100%;
	color: $White;
	overflow: visible;

	&:before {
		content: '';
		position: absolute;
		display: block;
		opacity: .1;
		bottom: 0;
		left: 0;
		right: 0;
		height: 130%;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		z-index: 1;
		background-image: url(#{$imgPath}parati-drawnings.svg); 
	}

	h2, h3, span, div {
		position: relative;
		z-index: 2;
	}

	@media #{$onlyMobile} {
		margin-left: 0;
		padding-left: 3rem;

		&:before {
			height: 120%;
			background-size: auto 100%;
		}
	}

	@media #{$minTablet} {
		padding-top: 3rem;
		padding-bottom: 3rem;
		padding-left: 4.8rem;

		&:before {
			height: 120%;
			background-size: auto 100%;
		}
	}

	.pi-section {
		color: rgba(255,255,255,.5);

		&:after {
			background: rgba(255,255,255,.5);
		}
	}

	.pi-ctt {
		h3 {
			@include pgs-font-level6;
			margin: 3rem 0 .5rem;

			@media #{$minTablet} {
				@include pgs-font-level4;
				margin-bottom: 0;
			}

			@media #{$TabletH} {
				@include pgs-font-level3;
			}

			@media #{$Desktop} {
				@include pgs-font-level1;
			}
		}

		p {
			font-family: 'source-serif-pro', serif;
			font-weight: 300;
			color: rgba(255,255,255,.5);
			@include pgs-font-level11;
			margin: 0 0 1rem;

			@media #{$TabletH} {
				@include pgs-font-level10;
			}

			@media #{$Desktop} {
				@include pgs-font-level9;
			}
		}

		@media #{$TabletV} {
			margin-left: 2.9rem;
		}

		@media #{$Desktop} {
			margin-left: 5rem;
		}
	}

	.pi-btn {
		@include pgs-button-base;
		@include pgs-button-default($Green,$White);
		font-weight: bold;

		padding-left: 1.5rem;
		padding-right: 1.5rem;

		@include pgs-transition(.5s);

		&.pi-btn-phone {
			height: 3rem;
			text-align: center;
			white-space: nowrap;
			margin-left: 1rem;

			.pi-phone {
				margin-right: .5rem;
			}

			@media #{$MobileV} {
				width: 3rem;
				padding: 0;
				margin-left: .5rem;
				font-size: 1.5rem;

				.pi-phone {
					vertical-align: top;
					margin: 0;
				}

				.pi-number {
					display: none;
				}
			}
		}

		@media #{$minTablet} {
			display: inline-block;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}

		@media #{$minTabletH} {
			@include pgs-button-effects(rgba(255,255,255,.09));
		}
	}

	.pi-credentials {
		margin-top: 2rem;
		color: rgba(255,255,255,.5);
		@include pgs-font-level10;
		font-weight: bold;

		br {
			display: none;
		}

		a {
			color: $White;
			position: relative;
			text-decoration: none;

			&:before {
				content: '';
				position: absolute;
				bottom: -20%;
				left: -3px;
				right: -3px;
				background: $Green;
				height: 3px;
				border-radius: 99px;
				z-index: -1;
				@include pgs-transition(.3s);
			}

			&:hover {
				&:before {
					height: 18px;
				}
			}
		}

		@media #{$TabletV} {
			margin-left: 2.9rem;
		}
	}

	.pi-addr {
		margin-top: 5rem;
		@include pgs-font-level11;

		p {
			font-family: 'source-serif-pro', serif;
			font-weight: 300;
			color: rgba(255,255,255,.8);
		}

		@media #{$TabletV} {
			margin-left: 2.9rem;
		}
	}

	@media #{$minTablet} {
		.pi-credentials {
			br {
				display: block;
			}
		}
	}

	@media #{$minTabletH} {
		.pi-credentials,
		.pi-addr {
			margin-top: 5rem;
			@include pgs-column-base;
			@include pgs-column-builder(6,$tabletH_gridColumns,0);
		}
	}

	@media #{$Desktop} {
		.pi-credentials {
			margin-left: 5rem;
			@include pgs-column-builder(5,$desktop_gridColumns,0);
		}

		.pi-addr {
			@include pgs-column-builder(6,$desktop_gridColumns,0);
		}
	}
}

.pi-phone {
	display: inline-block;
	width: 1em;
	height: 3rem;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	@include pgs-ico-phone;
}

.pi-nav-trigger-bg,
.pi-nav-trigger {
	position: fixed;
	top: 1rem;
	right: 1rem;
	@include pgs-transition(.3s);
	transform: translateY(-200%);
	opacity: 0;
	transition-delay: .2s;

	@media #{$MobileV} {
		top: inherit;
		bottom: 1rem;
		right: 1rem;
		transform: translate(100%,-50%);
	}

	@media #{$TabletV} {
		right: 0;
	}
}

.pi-nav-trigger-bg,
.pi-nav-trigger {
	&.activated {
		transform: translateY(0);
		opacity: 1;

		@media #{$MobileV} {
			transform: translate(0,-50%);
		}
	}
}

.pi-nav-trigger-bg {
	background: $Gray;
	z-index: -1;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 1rem 1rem 50px rgba(40,54,59,.2);

	@media #{$onlyMobile} {
		width: 3.5rem;
		height: 3.5rem;
		z-index: 8;
	}
}

.pi-nav-trigger {
	padding: .5rem;
	z-index: 9;

	@media #{$onlyMobile} {
		padding: 1rem;
	}

	.pi-hamburger {
		width: 1.5rem;
		height: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		transition: transform .3s ease-out;

		@media #{$onlyMobile} {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	.pi-line-menu {
		background-color: $White;
		border-radius: 5px;
		width: 100%;
		height: 4px;
		transition: transform .3 ease-out;

		&.half {
			width: 50%;
		}

		&.start {
			transition: transform .3s cubic-bezier(0.54, -0.81, 0.57, 0.57);
			transform-origin: right;
		}

		&.end {
			align-self: flex-end;
			transition: transform .3s cubic-bezier(0.54, -0.81, 0.57, 0.57);
			transform-origin: left;
		}
	}

	&.pi-nav-closed {
		.pi-hamburger {
			transform: rotate(-45deg);
		}

		.pi-line-menu {
			&.start {
				transform: rotate(-90deg) translateX(3px);
			}

			&.end {
				transform: rotate(-90deg) translateX(-3px);
			}
		}
	}
}

.pi-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateY(100%);
	transition: .7s ease-in-out;
	background: rgba(88,146,100,.95);
	z-index: 8;

	.pi-logo {
		width: 3rem;
		height: 3rem;
		margin: 1rem 0 0 2rem;
	}

	ul {
		margin: 5rem 2rem 0 2rem;
		padding: 0;

		li {
			list-style: none;
			text-align: right;
			line-height: 1.2em;
			@include pgs-font-level3;
			@include pgs-transition(.3s);
			transition-delay: .7s;
			opacity: 0;

			&:nth-child(2) {
				transition-delay: .9s;
			}

			&:nth-child(3) {
				transition-delay: 1s;
			}

			&:nth-child(4) {
				transition-delay: 1.1s;
			}

			&:nth-child(5) {
				transition-delay: 1.2s;
			}

			&:nth-child(6) {
				transition-delay: 1.3s;
			}
		}

		@media #{$MobileV} {
			position: absolute;
			bottom: 10rem;
			right: 0;
			box-sizing: border-box;

			li {
				@include pgs-font-level7;
				line-height: 1.7em;
			}
		}

		@media #{$MobileH} {
			margin-top: 4rem;

			li {
				@include pgs-font-level7;
				line-height: 1.4em;
			}
		}
	}

	a {
		color: $White;
		text-decoration: none;
		font-weight: bold;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 110%;
			background: rgba(0,255,53,.4);
			width: 0;
			height: 1rem;
			border-radius: 99px;
			transform: translateY(-50%);
			z-index: -1;
			@include pgs-transition(.3s);
		}

		@media #{$minTabletH} {
			&:hover {
				&:before {
					width: 5rem;
				}
			}
		}
	}

	&.activated {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		height: 100vh;
		z-index: 8;
		opacity: 1;
		transform: translate(0,0);

		ul li {
			opacity: 1;
		}
	}
}