@mixin pgs-button-base {
	display: inline-block;
	font-family: 'proxima-nova', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
	vertical-align: middle;
	line-height: 3em;
	border-radius: 99rem;
	padding: 0 1rem;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
}

@mixin pgs-button-default($bgColor,$fontColor) {
	background: $bgColor;
	color: $fontColor;
	position: relative;
}

@mixin pgs-button-outline($color) {
	border: 1px solid $color;
	color: $color;
}

@mixin pgs-button-effects($stateColor) {
	&:after,
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $stateColor;
		transform: translate(-100%,0);
		@include pgs-transition(.3s);
	}

	&:after {
		transition-delay: .2s;
	}

	@media #{$onlyMobile} {
		&:active {
			&:after,
			&:before {
				transform: translate(0,0);
			}
		}
	}

	@media #{$minTabletH} {
		&:hover {
			&:after,
			&:before {
				transform: translate(0,0);
			}
		}
	}
}

