// Mobile
$MobileV:		"all and (max-width: 567px)";
$MobileH: 		"all and (min-width: 568px) and (max-width: 767px)";
$minMobileH:	"all and (min-width: 568px)";
$onlyMobile: 	"all and (max-width: 767px)";

// Tablet
$TabletV:		"all and (min-width: 768px) and (max-width: 1023px)";
$TabletH:		"all and (min-width: 1024px) and (max-width: 1279px)";
$minTablet: 	"all and (min-width: 768px)";
$minTabletH:	"all and (min-width: 1024px)";
$onlyTablet:	"all and (min-width: 768px) and (max-width: 1279px)";

// Desktop
$Desktop:	"all and (min-width: 1280px)";