$mobileV_gridColumns: 6;
$mobileV_gutter: 1rem;

$mobileH_gridColumns: 12;
$mobileH_gutter: 1rem;

$tabletV_gridColumns: 12;
$tabletV_gutter: 1.5rem;

$tabletH_gridColumns: 12;
$tabletH_gutter: 1.5rem;

$desktop_gridColumns: 12;
$desktop_gutter: 2rem;

// Default configs for Grid column
@mixin pgs-column-base {
	box-sizing: border-box;
	position: relative;
	float: left;
	display: block;
}

@mixin pgs-column-builder($size,$gridColumns,$gutter) {
	width: ((100 / $gridColumns) * $size) * 1%;
	@include pgs-column-gutter($gutter);
}

// Default configs for Grid column
@mixin pgs-column-gutter($gutter) {
	padding-left: $gutter;
	padding-right: $gutter;
}

@mixin pgs-column-offset($size,$gridColumns) {
	margin-left: ((100 / $gridColumns) * $size) * 1%; 
}

@mixin pgs-column-show {
	display: block; 
}

@mixin pgs-column-hide {
	display: block; 
}

@mixin pgs-row-base($gutter) {
	padding-left: 0;
	padding-right: 0;
	margin-left: #{$gutter};
	margin-right: #{$gutter};
}

@mixin pgs-css-columnBuilder($prefix,$gridColumns,$gutter) {
	@for $i from 1 through $gridColumns {
		.pgs-#{$prefix}-#{$i}-#{$gridColumns} {
			@include pgs-column-base();
			@include pgs-column-builder($i,$gridColumns,$gutter);
		}

		@if $i < $gridColumns {
			.pgs-#{$prefix}offset-#{$i}-#{$gridColumns} {
				@include pgs-column-offset($i,$gridColumns);
			}
		}
	}
}

// Default configs for Grid column
@mixin pgs-css-columnAlignment($prefix) {
	.pgs-#{$prefix}align-left {
		text-align: left;
	}
	.pgs-#{$prefix}align-center {
		text-align: center;
	}
	.pgs-#{$prefix}align-right {
		text-align: right;
	}
}

// Default configs for Grid column
@mixin pgs-css-columnShowHide($prefix) {
	.pgs-#{$prefix}hide {
		@include displayHide;
	}
	.pgs-#{$prefix}show {
		@include displayShow;
	}
}

// Default configs for Grid column
@mixin pgs-css-column-noGutter($prefix) {
	.pgs-#{$prefix}noGutter {
		padding-left: 0;
		padding-right: 0;
	}

	.pgs-#{$prefix}noGutter-left {
		padding-left: 0;
	}

	.pgs-#{$prefix}noGutter-right {
		padding-right: 0;
	}
}