@mixin pgs-font-base {
	font-size: 5.625vw; // 18px on 320px viewport

	@media #{$MobileH} { // Mobile Horizontal
		font-size: 3.169vw; // 18px on 568px viewport
	}

	@media #{$TabletV} { // Tablet vertical
		font-size: 2.343vw; // 18px on 768px viewport
	}

	@media #{$TabletH} { // Tablet Horizontal
		font-size: 1.757vw; // 18px on 1024px viewport
	}

	@media #{$Desktop} { // Desktop hi-res
		font-size: 1.406vw; // 18px on 1280px viewport 
	}
}

@mixin pgs-font-level1 {
	font-size: 6rem; // 108
}

@mixin pgs-font-level2 {
	font-size: 5.83rem; // 105
}

@mixin pgs-font-level3 {
	font-size: 3.5rem; // 63
}

@mixin pgs-font-level4 {
	font-size: 2.77rem; // 50
}

@mixin pgs-font-level5 {
	font-size: 2.5rem; // 45
}

@mixin pgs-font-level6 {
	font-size: 2rem; // 36
}

@mixin pgs-font-level7 {
	font-size: 1.5rem; // 27
}

@mixin pgs-font-level8 {
	font-size: 1.33rem; // 24
}

@mixin pgs-font-level9 {
	font-size: 1.16rem; // 21
}

@mixin pgs-font-level10 {
	font-size: 1rem; // 18
}

@mixin pgs-font-level11 {
	font-size: .83rem; // 15
}

@mixin pgs-font-level12 {
	font-size: .72rem; // 13
}